@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap');
/* ----------------------------------------------------------------
       common
---------------------------------------------------------------- */
html {
    font-size: 10px;
    scroll-behavior: smooth;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.mobile-br {
    display: none;
}
.web-br {
    display: block;
}
.display-w {
    display: block;
}
.display-inline-w {
    display: inline-block;
}
.display-m {
    display: none;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: break-all;
}
.text-darkgray {
    color: #929292;
}
/*slick style*/
.slick-slider {
    margin: 0 -2rem;
}
.slick-list {
    overflow: hidden;
    font-size: 0;
    z-index: 10;
}
.slick-slide {
    float: left;
    margin: 0 2rem;
}
.slick-arrow {
    position: absolute;
    top: 3.5rem;
    right: 0;
    width: 3rem;
    height: 3rem;
    font-size: 0;
}
.slick-arrow:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1rem;
    height: 1rem;
    margin: -0.5rem 0 0 -0.8rem;
    border: solid #000;
    border-width: 1px 1px 0 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.slick-arrow.slick-prev {
    right: 5rem;
}
.slick-arrow.slick-prev:after {
    margin: -0.5rem 0 0 -0.2rem;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
/*icon*/
.ico {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    text-indent: -99999px;
    overflow: hidden;
}
/*side menu*/
.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 42rem;
    height: 100%;
    padding: 8rem;
    background: #fff;
    z-index: 11;
}
.side-menu .profile-img {
    width: 100%;
    height: 15rem;
    overflow: hidden;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    border-radius: 0.3rem;
}
.side-menu h1 {
    padding: 3.5rem 0 6rem;
    font-size: 1.3rem;
    color: #666;
}
.side-menu nav li {
    font-size: 2.2rem;
}
.side-menu nav li + li {
    margin-top: 2rem;
}
.side-menu nav li:last-of-type {
    display: none;
}
.side-menu .profile-info {
    margin-top: 8rem;
    font-size: 1.2rem;
    color: #999;
}
.side-menu .profile-info li {
    position: relative;
    margin-top: 1.5rem;
}
.side-menu .profile-info li a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.side-menu .profile-info li:hover a {
    color: #000;
    font-size: 1.4rem;
}
.side-menu .copyright {
    margin-top: 5rem;
    font-size: 1rem;
    color:#999;
}
/*content*/
.content {
    padding-left: 42rem;
    overflow: hidden;
}
.content > div {
    height: 100vh;
    padding: 4rem 6rem;
}
.content h2 {
    margin-bottom: 4rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: #222;
}
.project > div {
    position: relative;
    padding: 4rem 0;
}
.page-box {
    position: relative;
    height: auto;
    text-align: center;
    border: 1px solid #ddd;
}
.page-box img {
    width: 100%;
    height: 100%;
}
.page-box a {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.page-box .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    color: #fff;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.page-box .text-box h3 {
    font-size: 1.4rem;
    font-weight: 600;
}
.page-box .text-box h3 ~ p {
    margin-top: 0.5rem;
    font-size: 1.3rem;
}
.page-box:hover a {
    opacity: 1;
}
.design-banner h2 {
    margin: 3rem 0 6rem;
    text-align: center;
    font-size: 4rem;
}
.design-banner h2 span {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1rem;
}
.banner-slide {
    text-align: center;
}
.banner-slide .slick-dots {
    margin-top: 5rem;
}
.banner-slide .slick-dots li {
    display: inline-block;
    vertical-align: middle;
}
.banner-slide .slick-dots li button {
    width: 0.7rem;
    height: 0.7rem;
    margin: 0 1rem;
    font-size: 0;
    background: #222;
    opacity: 0.5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.banner-slide .slick-dots li:hover button,
.banner-slide .slick-dots li.slick-active button {
    opacity: 1;
}
@media (max-width:1500px) {
    .side-menu {
        width: 28%;
        padding: 4%;
    }
    .content {
        padding-left: 28%;
    }
    .content > div {
        padding: 2% 2% 0 0;
    }
    .project > div {
        padding: 2% 0;
    }
    .slick-arrow {
        top: 4%;
    }
    .side-menu .copyright {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        padding: 1rem 2rem;
        background: #000;
        color: #c5c5c5;
        text-align: right;
    }
}
@media (max-width:1024px) {
    .side-menu {
        width: 100%;
        height:6rem;
        padding:0 2rem;
        box-shadow: 0 -2px 6px 2px rgb(0 0 0 / 30%);
    }
    .side-menu .profile-img {
        display: none;
    }
    .side-menu h1 {
        float: left;
        padding: 1.6rem 1rem;
        font-size: 2.2rem;
        color: #000;
        font-weight: 600;
    }
    .side-menu nav {
        float: right;
    }
    .side-menu nav li {
        display: inline-block;
        vertical-align: middle;
        padding: 1.9rem 1rem;
        font-size: 1.8rem;
    }
    .side-menu nav li + li {
        margin-top: 0;
    }
    .side-menu nav li:last-of-type {
        position: relative;
        display: inline-block;
    }
    .side-menu .profile-info {
        display: none;
        width: 100%; 
        position:absolute;
        top: 0;
        left: 0;
        margin-top: 0;
        font-size: 3rem;
        text-align: center;
    }
    .content {
        padding-left: 0;
    }
    .content > div {
        padding: 8rem 2% 2%;
    }
    .design-banner h2 {
        margin-top: 5rem;
    }
}