@charset "utf-8";

h2 {
    margin: 60px 0;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}
/*slick style*/
.banner-slide {
    position: relative;
}
.slick-list {
    overflow: hidden;
    font-size: 0;
    text-align: center;
}
.slick-slide {
    float: left;
}
.slick-dots {
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    text-align: center;
}
.slick-dots li {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: orange;
    border-radius: 50%;
    margin: 0 10px;
    opacity: 0.5;
    cursor: pointer;
}
.slick-dots li.slick-active,
.slick-dots li:hover {
    opacity: 1;
}
.slick-dots li button {
    font-size: 0;
}
.slick-arrow {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 0;
}
.slick-prev {
    left: 40px;
    border: solid orange;
    border-width: 0 0 2px 2px;
    z-index: 100;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.slick-next {
    right: 40px;
    border: solid orange;
    border-width: 2px 2px 0 0;
    z-index: 100;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}